[user]
	email = gem.anggada@gmail.com
	name = Gema
[alias]
    rebased = git add . && git rebase --continue
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    s = status -s
    pure = pull upstream master --rebase
    co = checkout
    b = branch
    recon = rebase --continue
    rebort = rebase --abort
    reskip = rebase --skip
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[pager]
	branch = false
